// for account verification

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify your account</title>
  </head>
  <body>

    <h3>Account Verification</h3>
    <p>Hi <b>{{name}}</b>, thanks for signing up.</p>
    <p>Click this link to verify your account:
      <b><a href="{{link}}">Verify</a></b>
    </p>
    <p>Kindly not this link will be valid for 15 minutes</p>
  </body>
</html>