// request password request

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Request</title>
  </head>
  <body>

    <h3>Password Reset Request</h3>
    <p>Hi <b>{{name}}</b>, you requested a password reset.</p>
    <p>Click this link to reset your password:
      <b><a href="{{link}}">Reset Password</a></b>
    </p>
    <p>If you didn't request for this, simply ignore</p>
    <p>Kindly note this link will be valid for 15 minutes</p>
  </body>
</html>