// This is the template for the reset password email successful
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password Success</title>
  </head>
  <body>

    <h3>Password Reset Successful</h3>
    <p>Hi <b>{{name}}</b>, your password has been reset successfully.</p>
    <p>You can now click this link to
      <b><a href="{{link}}">login</a></b>
      to your account.
    </p>
    <p>Hope you find our service of value</p>

  </body>
</html>